<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <appSettings>
    <add key="Fileupload_Path" value=""/>
    <add key="Screenshot_Path" value=""/>
    <add key="Report_Path" value=""/>
    <add key="EmailToAddress" value=""/>
    <add key="EmailFromAddress" value=""/>
    <add key="EmailCcAddress" value=""/>
    <add key="EmailBccAddress" value=""/>
    <add key="EmailDisplayName" value=""/>
    <add key="EmailSmtpServer" value=""/>
    <add key="LocalMachineName" value=""/>
    <!--add machine name you prefer to not have email forward when test completes-->
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
